.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 14px;
}

.showtime-preview > div:first-child {
    font-size: 12px;
    white-space: normal;
}

.showtime-preview > div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}

.movie-tooltip .movie-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
}

.movie-tooltip img {
    height: 80px;
    margin-bottom: 10px;
}

.movie-tooltip .movie-title {
    font-size: 1.5em;
    line-height: 40px;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.central__merchandise__image--container {
    overflow: hidden;
    border-radius: 5px;
    max-width: fit-content;
}

.central__merchandise__image--thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.central__merchandise__image--preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 250ms ease;
}

.central__merchandise__image--preview:hover {
    opacity: 0.8;
}

.feeding__user__image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
